.Modal {
  display:block;
  position:fixed;
  top:0;
  left:0;
  z-index:1;
  width:100vw;
  height:100vh;
}

.ModalContentsWrap{
  box-sizing: border-box;
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width:45%;
  height:50%;
  background: #FAFAFA 0% 0% no-repeat;
  border-top:16px solid #1B3965;
  /* border-left:1px solid #C5CCD7; */
  /* border-right:1px solid #C5CCD7; */
  border-bottom:16px solid #1B3965;
  border-radius:2px;
  opacity: 1;
  padding:2% 2%;
  text-align: center;
}

.ModalCloseBtn {
  margin:0;
  width:100%;
  text-align: right;
  position:relative;
  box-sizing: border-box;
  /* border:solid 1px black; */
}

.ModalCloseBtn > span {
  font-size:24px;
  /* position:absolute;
  right:0;
  top:0;
  transform: translate(0, -100%); */
  cursor:pointer;
}

.ModalLayer{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0, 0, 0, 0.5);
  z-index:-1;
}