.AssignNoticeDate{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:0;
    left:0;
    width:100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
}

.AssignNoticeDate__ContentsWrap{
    box-sizing: border-box;
    width:350px;
    background: #FAFAFA; 
}
.AssignNoticeDate__TopBottomStyle{
    box-sizing: border-box;
    width:100%;
    height:5px;
    background-color: #1B3965;
    border: 1px solid #102340;
}

.AssignNoticeDate__Contents{
    padding:32px;
}

.AssignNoticeDate__Header{
    border-bottom: 2px solid #C5CCD7;
    padding-bottom: 16px;
}

.AssignNoticeDate__Title{
    display: inline-block;
    font: normal normal normal 20px/29px Noto Sans KR;
    text-align: center;
    color: #102340;
    width:100%;
}

.AssignNoticeDate__SubTitle{
    display: inline-block;
    width:100%;
    font: normal normal normal 12px/15px Noto Sans KR;
    text-align: center;
    color: #1B3965;
}

.AssignNoticeDate__Body{
    margin-top: 16px;
    margin-bottom: 16px;
}

.AssignNoticeDate__Label{
    display: block;
    font-family: Noto Sans KR;
    padding:8px;
    font-size: 13px;
}

.AssignNoticeDate__SelectDateWrap{
    display: flex;
    justify-content: space-between;
}

.AssignNoticeDate__SelectYear{
    box-sizing: content-box;
    width:60px;
    padding:8px;
    border: 1px solid #C5CCD7;
}

.AssignNoticeDate__SubLabel{
    display: block;
    padding:8px;
    font-family: Noto Sans KR;
    font-size: 13px;
    color: #8C9BB1;
}

.AssignNoticeDate__ButtonSetDate{
    width:100%;
    padding:8px;
    background-color: #9162FF;
    border: 1px solid #6C3AE0;
    font: normal normal normal 15px/17px Noto Sans KR;
    color: #FFFFFF;
}