.findIdPwWrap {
  display:flex;
  height:90vh;
  justify-content:center;
  align-items:center;
}

.findIdPwContents {
  display:flex;
  width:60vw;
  height:75.55vh;
  justify-content:space-between;
  /* border:solid 1px black; */
}

.findIdPwContents input {
  width:100%;
  height:5.92vh;
  padding:2px 5px;
  box-sizing: border-box;
}

.findIdPwContents input:focus{
  outline:none;
}

.findIdPwSpan {
  display:inline-block;
  font: normal normal normal 10px/15px Noto Sans KR;
  letter-spacing: 0px;
  color: #8C9BB1;
  opacity: 1;
  margin-bottom:10px;
  margin-left:5px;
}

.findIdPwContents button:focus {
  outline:none;
}

.findIdWrap{
  width:28.5vw;
  padding:2vw;
  box-sizing: border-box;
  background: #FAFAFA 0% 0% no-repeat padding-box;
  border: 1px solid #E8EBEF;
  border-radius: 2px;
  opacity: 1;
}

.findId {
  position: relative;
  height:100%;
}

.findIdTitle{
  font: normal normal normal 32px/46px Noto Sans KR;
  letter-spacing: 0px;
  color: #102340;
  opacity: 1;
  margin-bottom:10px;
}

.findIdSubTitle{
  font: normal normal normal 14px/17px Noto Sans KR;
  letter-spacing: 0px;
  color: #1B3965;
  opacity: 1;
  margin-bottom:10%;
}

.findIdBtn{
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
  height:10vh;
  background: #1B3965 0% 0% no-repeat;
  border: 1px solid #102340;
  font: normal normal normal 14px/20px Noto Sans KR;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
  box-sizing: border-box;
  cursor:pointer;
}

.findPwWrap{
  width:28.5vw;
  padding:2vw;
  box-sizing: border-box;
  background: #FAFAFA 0% 0% no-repeat padding-box;
  border: 1px solid #E8EBEF;
  border-radius: 2px;
  opacity: 1;
}

.findPw {
  position: relative;
  height:100%;
}

.findPwTitle{
  font: normal normal normal 32px/46px Noto Sans KR;
  letter-spacing: 0px;
  color: #102340;
  opacity: 1;
  margin-bottom:10px;
}

.findPwSubTitle{
  font: normal normal normal 14px/17px Noto Sans KR;
  letter-spacing: 0px;
  color: #1B3965;
  opacity: 1;
  margin-bottom:10%;
}

.findPwBtn{
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
  height:10vh;
  background: #1B3965 0% 0% no-repeat;
  border: 1px solid #102340;
  font: normal normal normal 14px/20px Noto Sans KR;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
  box-sizing: border-box;
  cursor:pointer;
}
