.Wrapper {
  /* width:100vw;
  min-width:100vw;
  height:100vh;
  min-height:100vh; */
  display:flex;
  justify-content:center;
  align-items:center;
  height:90vh;
}

.LoginWrap {
  display:flex;
  justify-content: space-between;
  width:57.29vw;
  min-width:57.29vw;
  height:75.55vh;
}

.LoginSectionLeft {
  /* border:1px black solid; */
  width:27.91vw;
  /* min-width:357.24px; */
  /* min-width:27.91vw; */
  height:100%;
  position:relative;
}

.Login {
  width:100%;
  height:48.14vh;
  padding:2vw;
  background: #FAFAFA 0% 0% no-repeat padding-box;
  border: 1px solid #E8EBEF;
  border-radius: 2px;
  opacity: 1;
  box-sizing: border-box;
}

.LoginTitle {
  height:4.25vh;
  font:normal normal 500 32px/4.25vh "Noto Sans KR";
  letter-spacing: 0px;
  color: #102340;
  opacity: 1;
  margin-bottom:0.7em;
}

.InputId, .InputPw {
  width:100%;
  height:5.92vh;
  margin-bottom:1em;
  padding:0.5em;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #C5CCD7;
  border-radius: 2px;
  opacity: 1;
  font: normal normal normal 14px/20px "Noto Sans KR";
  box-sizing: border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing: border-box;
}

.InputId, .InputPw:focus {outline: none;}

.LoginBtnWrap {
  box-sizing: border-box;
  /* border:solid 1px black; */
}

.InfoBtn {margin-bottom:1em;}

.InfoBtn button {
  background: #1B3965 0% 0% no-repeat;
  border: 1px solid #102340;
  opacity: 1;
  width:11.04vw;
  height:5.92vh;
}

.InfoBtn a {
  text-align: center;
  font: normal normal normal 12px/20px "Noto Sans KR";
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
  text-decoration: none;
  display:inline-block;
  width:100%;
}

.RegisterBtn {
  float:right;
}

.LoginBtn {
  width:100%;
  height:5.92vh;
  background: #9162FF 0% 0% no-repeat padding-box;
  border: 1px solid #6C3AE0;
  border-radius: 2px;
  opacity: 1;
  text-align: center;
  font: normal normal normal 14px/20px "Noto Sans KR";
  letter-spacing: 0px;
  color: #FFFFFF;
  cursor: pointer;
}

.LoginBtn:focus {outline: none;}

.LoginNoticeWrap {
  width:100%;
  height:24.44vh;
  position:absolute;;
  bottom:-2px;
  background: #FAFAFA 0% 0% no-repeat padding-box;
  border: 1px solid #E8EBEF;
  border-radius: 2px;
  opacity: 1;
}

.LoginSectionRight {
  /* border:1px black solid; */
  width:27.91vw;
  min-width:27.91vw;
  height:100%;
}

.LoginImg {
  width:27.91vw;
  height:100%;
  border:1px solid #E8EBEF;
  border-radius: 2px;
  opacity: 1;
}
.LoginNotice{
  padding:0.83vw;
}
.LoginNotice__ListView{
  display: flex;
  justify-content: space-between;
  padding:4px;
}

.LoginNotice__Title, .LoginNotice__Date{
  font: normal normal normal 14px/20px Noto Sans KR;
  color: #231F20;
}

.LoginNotice__Title{
  width:65%;
}

.LoginNotice__ListView:hover{
  background-color: #F3F4F6;
}