.LoginHeaderWrap {
  position:relative;
  display:flex;
  box-sizing: border-box;
  width:100%;
  height:10vh;
  padding:10px 25px;
  box-shadow: 0px 2px 4px #231F2033;
}

.LoginHeaderLogo {
  width:7.5%;
  cursor: pointer;
}

.LoginHeaderBtnWrap{
  display:flex;
  align-items: center;
  position:absolute;
  right:0;
  margin-right:25px;
}

.LoginHeaderBtn {
  width:8vw;
  height:6vh;
  text-align: center;
  font: normal normal normal 14px/20px Noto Sans KR;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
}

#LoginHeaderStudentBtn{
  background: #1B3965 0% 0% no-repeat padding-box;
  border: 1px solid #102340;
  border-radius: 2px 0px 0px 2px;
  opacity: 1;
}

#LoginHeaderTeacherBtn{
  background: #9162FF 0% 0% no-repeat padding-box;
  border: 1px solid #6C3AE0;
  border-radius: 0px 2px 2px 0px;
  opacity: 1;
}


