#weekly-view {
  width: 900px;
  overflow: auto;
  display: flex;
  flex-direction: row;
  justify-content: left;
  box-sizing: border-box;
  margin-bottom: 16px;
  margin-top: 16px;
}
#weekly-view .hour-col {
  width: 60px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: solid 1px #c5ccd7;
  border-top: solid 1px #c5ccd7;
  border-left: solid 1px #c5ccd7;
  border-bottom: solid 1px #c5ccd7;
  box-sizing: border-box;
  border-top: none;
  border-left: none;
  border-bottom: none;
}
#weekly-view .hour-col .hour-cell {
  width: 100%;
  height: 36px;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;

  text-align: right;
  padding-right: 5px;
}
#weekly-view .hour-col .hour-cell:nth-child(1) {
  height: 24px;
  border-bottom: solid 1px #c5ccd7;
}
#weekly-view .hour-col .hour-cell:last-child {
  border-bottom: none;
}

#weekly-view .weekly-col {
  width: 104px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: solid 1px #c5ccd7;
  border-top: solid 1px #c5ccd7;
  border-bottom: solid 1px #c5ccd7;
  box-sizing: border-box;
}

#weekly-view .weekly-col .sunday {
  color: #ef7a8b;
}
#weekly-view .weekly-col .saturday {
  color: #769bff;
}
#weekly-view .weekly-col .weekly-cell:last-child {
  border-bottom: none;
}
