.subjectCRUD_Wrap {
  padding:0 30%;
  margin-top:32px;
  margin-bottom:32px;
}

.subjectCRUD_title {
  text-align:center;
  font: normal normal normal 25px/30px Noto Sans KR;
  letter-spacing: 0px;
  color: #1B3965;
  opacity: 1;
  margin-bottom:2%;
}

.subjectCRUD_Subtitle{
  text-align: center;
  font: normal normal normal 13px/18px Noto Sans KR;
  letter-spacing: 0px;
  color: #1B3965;
  opacity: 1;
  margin-bottom:5%;
}

.subjectCRUD_Contents {
  margin-bottom:3%;
  /* border:solid 1px black; */
}

.subjectCRUD_InlineContents {
  display:inline-block;
  width:50%;
  /* margin-bottom:2%; */
}

.subjectCRUD_InlineContentsNospan {
  margin-bottom:3%;
}

.subjectCRUD_ContentsTag {
  /* font: normal normal normal 12px/17px Noto Sans KR; */
  margin-left:1%;
  margin-bottom:1%;
}

.subjectCRUD_InlineContentsTag {
  margin-left:2%;
  margin-bottom:2%;
}

.subjectCRUD_ContentsInput {
  display:block;
  width:40%;
  height:5vh;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #C5CCD7;
  border-radius: 2px;
  opacity: 1;
  font: normal normal normal 13px/18px Noto Sans KR;
  padding:0 1%;
  box-sizing: border-box;
}

.subjectCRUD_InlineContentsInput {
  display:inline-block;
  width:80%;
  height:5vh;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #C5CCD7;
  border-radius: 2px;
  opacity: 1;
  font: normal normal normal 13px/18px Noto Sans KR;
  padding:0 2%;
  box-sizing: border-box;
  margin-bottom:2%;
}

.subjectCRUD_InlineContentsInputCreated_at {
  display:inline-block;
  width:100%;
  height:5vh;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #C5CCD7;
  border-radius: 2px;
  opacity: 1;
  font: normal normal normal 13px/18px Noto Sans KR;
  padding:0 2%;
  box-sizing: border-box;
  margin-bottom:2%;
}

.subjectCRUD_InlineContentsRightInput {
  margin-right:2%;
  width:20%;
}

.subjectCRUD_ContentsWideInput {
  width:100%;
  box-sizing: border-box;
}

.subjectCRUD_ContentsSpan {
  margin-left:1%;
  font: normal normal normal 11px/16px Noto Sans KR;
  color: #8C9BB1;
}

.subjectCRUD_InlineContentsSpan {
  display:block;
  margin-left:2%;
  font: normal normal normal 11px/16px Noto Sans KR;
  color: #8C9BB1;
}

.subjectCRUD_ContentsSelect {
  display:block;
  width:40%;
  height:5vh;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #C5CCD7;
  border-radius: 2px;
  opacity: 1;
  font: normal normal normal 13px/18px Noto Sans KR;
  padding:0 1%;
  box-sizing: border-box;
}

.subjectCRUD_ContentsWideSelect{
  width:100%;
  box-sizing: border-box;
  height:5vh;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #C5CCD7;
  border-radius: 2px;
  opacity: 1;
  font: normal normal normal 13px/18px Noto Sans KR;
  padding:0 1%;
}

.subjectCRUD_InlineContentsSelect {
  width:80%;
  height:5vh;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #C5CCD7;
  border-radius: 2px;
  opacity: 1;
  font: normal normal normal 13px/18px Noto Sans KR;
  margin-bottom:2%;
}

.subjectCRUD_CtrlBtnWrap {
  text-align: center;
  margin-top:6%;
}

.subjectCRUD_CtrlBtnCancle {
  width:35%;
  height:7vh;
  background: #FAFAFA 0% 0% no-repeat padding-box;
  border: 1px solid #C5CCD7;
  border-radius: 2px;
  opacity: 1;
  color: #231F20;
  margin-right:3%;
  cursor: pointer;
}

.subjectCRUD_CtrlBtnWrite {
  width:35%;
  height:7vh;
  background: #1B3965 0% 0% no-repeat padding-box;
  border: 1px solid #102340;
  border-radius: 2px;
  opacity: 1;
  color: #FFFFFF;
  margin-left:3%;
  cursor: pointer;
}

.subjectCRUD_CtrlBtnCancle_Read {
  width:30%;
  height:7vh;
  background: #FAFAFA 0% 0% no-repeat padding-box;
  border: 1px solid #C5CCD7;
  border-radius: 2px;
  opacity: 1;
  color: #231F20;
  margin-right:2%;
  cursor: pointer;
}

.subjectCRUD_CtrlBtnWrite_Read {
  width:30%;
  height:7vh;
  background: #FF7062 0% 0% no-repeat padding-box;
  border: 1px solid #EF4F3F;
  border-radius: 2px;
  opacity: 1;
  color: #FFFFFF;
  margin-right:2%;
  margin-left:2%;
  cursor: pointer;
}

.subjectCRUD_CtrlBtnUpdate_Read {
  width:30%;
  height:7vh;
  background: #1B3965 0% 0% no-repeat padding-box;
  border: 1px solid #102340;
  border-radius: 2px;
  opacity: 1;
  color: #FFFFFF;
  margin-left:2%;
  cursor: pointer;
}

.subjectCRUD_CtrlBtnCancle_Read:focus {
  outline:none;
}

.subjectCRUD_CtrlBtnWrite_Read:focus {
  outline:none;
}

.subjectCRUD_CtrlBtnUpdate_Read:focus {
  outline:none;
}