

.weekly-cell {
  width: 100%;
  height: 36px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  overflow: visible;

}


.weekly-cell .weekly-schedule {
  display: flex;
 
  flex-direction: column;
  width: 120px;
 position: relative;
  color: #231f20;
  font-size: 12px;

  z-index: 1;
  cursor: pointer;
}

.weekly-cell .weekly-schedule p {
  width: 90px;
  margin: 0;

  font-size: 6px;
  padding-left: 8px;
}
.weekly-cell .weekly-schedule h4 {
  width: 90px;
  overflow: hidden;
  font-size: 8px;
  padding-left: 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.weekly-cell .weekly-schedule .weekly-schedule-info {
  /* width: 90px; */
  overflow: hidden;

  text-overflow: ellipsis;
  white-space: nowrap;
}
.weekly-cell:nth-child(1) {
  display: flex;
  align-items: center;
  height: 24px;
  border-bottom: solid 1px #c5ccd7;
}
.weekly-cell:nth-child(n + 2) {
  border-bottom: solid 1px #c5ccd7;
}

.weekly-cell:last-child {
  border-bottom: none;
}

.weekly-schedule-dropdown{
  display: none; 
 
  position: absolute;
left: 90%;
  top: 95%;

}

.weekly-schedule-dropdown-button{
  width: 104px;
  height: 24px;
  cursor: pointer;
  background-color: white;
  border-color: #C5CCD7;
  z-index: 100;
}
