.Schedule__SubNav {
  width: 200px;
  border: 1px solid #c5ccd7;
}

.Schedule__SubNavHeader {
  padding: 16px;
  background: #f3f4f6;
  border-bottom: 1px solid #c5ccd7;
}

.Schedule__CourseWrap {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #c5ccd7;
}

.Schedule__Course__studentName {
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: 550;
}
.Schedule__Course__SubInfo {
  margin: 0%;
  font-size: 10px;
  font-weight: 500;
  padding-left: 7px;
}

.Schedule__MakeUpLessonWrap {
  border-bottom: 1px solid #c5ccd7;
}
.Schedule__MakeUpLesson__studentName {
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 12px;
  font-weight: 550;
  cursor: pointer;
}

.Schedule__CourseInfo:hover {
  cursor: pointer;
}
