.ScheduleCourse {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.ScheduleCourse__ContentWrap {
  width: 400px;
  background: rgba(255, 255, 255, 1);
}

.ScheduleCourse__TopBottomStyle {
  box-sizing: border-box;
  width: 100%;
  height: 8px;
  background-color: #1b3965;
  border: 1px solid #102340;
}

.ScheduleCourse__Header {
  padding: 4px;
  background: #f3f4f6;
  border: 1px solid #c5ccd7;
  display: block;
  font: normal normal normal 10px/15px Noto Sans KR;
  text-align: center;
  color: #231f20;
}

.ScheduleCourse__InputLabel {
  font: normal normal normal 10px/15px Noto Sans KR;
  letter-spacing: 0px;
  color: #231f20;
}

.ScheduleCourse__Input {
  box-sizing: border-box;
  background-color: #ffffff;
  border: 1px solid #c5ccd7;
  border-radius: 2px;
  padding: 8px;
  width: 100%;
  margin-top: 8px;
  font: normal normal normal 10px/15px Noto Sans KR;
  letter-spacing: 0px;
  color: #231f20;
}

.ScheduleCourse__Input__Content {
  height: 200px;
  word-break: break-all;
  overflow-y: scroll;
}

.ScheduleCourse__Content {
  padding: 24px;
}

.ScheduleCourse__TeacherInputWrap {
  width: 50%;
}

.ScheduleCourse__SubjectInputWrap,
.ScheduleCourse__DateInputWrap,
.ScheduleCourse__TimeInputWrap {
  margin-top: 16px;
}

.ScheduleCourse__StudentInputWrap {
  margin-top: 16px;
  width: 50%;
}

.ScheduleCourse__DateLabel {
  display: flex;
  font: normal normal normal 10px/15px Noto Sans KR;
  margin-right: 4px;
}

.ScheduleCourse__DateInput {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}

.ScheduleCourse__SelectCourseDate {
  display: flex;
  align-items: center;
}

.ScheduleCourse__TimeInput {
  width: 40px;
  box-sizing: border-box;
  background-color: #ffffff;
  border: 1px solid #c5ccd7;
  border-radius: 2px;
  padding: 8px;
  margin-top: 8px;
  font: normal normal normal 10px/15px Noto Sans KR;
  letter-spacing: 0px;
  text-align: center;
  color: #231f20;
}

.ScheduleCourse__TimeInputLabel {
  font: normal normal normal 10px/15px Noto Sans KR;
  color: #231f20;
  padding: 8px;
}

.ScheduleCourse__Foot {
  display: flex;
  justify-content: center;
  margin: 24px;
  margin-top: 8px;
}

.ScheduleCourse__Delete {
  width: 120px;
  background: #ff7062;
  border: 1px solid #ef4f3f;
  border-radius: 2px;
  padding: 8px;
  font: normal normal normal 10px/15px Noto Sans KR;
  letter-spacing: 0px;
  color: #ffffff;
}

.ScheduleCourse__Register {
  width: 120px;
  background: #1b3965;
  border: 1px solid #102340;
  border-radius: 2px;
  padding: 8px;
  font: normal normal normal 10px/15px Noto Sans KR;
  letter-spacing: 0px;
  color: #ffffff;
  margin-left: 16px;
}
