
.ReportCreate__FootWrap{
    margin-top: 32px;
    border-top: 1px solid #C5CCD7;
}

.ReportCreateTemp{
    display: block;
    letter-spacing: 0px;
    color: #C5CCD7;
    text-align: center;
    font:normal normal normal 12px/15px Noto Sans KR;
}

.ReportCreate__ReleaseButtonWrap{
    margin-top: 32px;
    display: flex;
    justify-content: flex-end;
}

.ReportCreate__ButtonRelease{
    background: #1B3965;
    border: 1px solid #102340;
    color:white;
    padding: 8px;
    width:120px;
    border-radius: 2px;
}

.ReportVoca__Header{
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    flex-wrap: wrap;
}

.ReportVoca__SpanVoca{
    border: none;
    padding:8px;
    width:50%;
    box-sizing: border-box;
    font: normal normal normal 14px/20px Noto Sans KR;
    text-align: center;
    letter-spacing: 0px;
    color: #231F20;
    background-color: white;
    border: 1px solid #C5CCD7;
}
.ReportVoca__Handle{
    margin-left:8px;
}

.ReportVoca__HandleLabel{
    display: inline-block;
    font: normal normal normal 14px/20px Noto Sans KR;
    letter-spacing: 0px;
    margin-left: 16px;
    color: #231F20;
}

.ReportVoca__Setting{
    display: inline-block;
    padding:8px;
    background: #FAFAFA 0% 0% no-repeat padding-box;
    border: 1px solid #C5CCD7;
    border-radius: 2px;
    font: normal normal normal 12px/17px Noto Sans KR;
    letter-spacing: 0px;
    color: #231F20;
    margin-left: 8px;
    width:80px;
    text-align: center;
}

.ReportVoca__SettingLabel{
    display: inline-block;
    font: normal normal normal 14px/20px Noto Sans KR;
    letter-spacing: 0px;
    margin-left: 16px;
    color: #231F20;
}

.ReportVoca__ModeButton{
    background: #1B3965 0% 0% no-repeat padding-box;
    border: 1px solid #102340;
    border-radius: 2px;
    margin-left: 16px;
    color:white;
    padding: 8px;
    width: 120px;
    font:normal normal normal 12px/15px Noto Sans KR;
}

.ReportGrammarShort__TableContent{
    border: none;
    padding:8px;
    width:50%;
    box-sizing: border-box;
    font: normal normal normal 14px/20px Noto Sans KR;
    letter-spacing: 0px;
    color: #231F20;
    background-color: white;
    border: 1px solid #C5CCD7;
}

.ReportGrammarChoice__TableContent{
    display: inline-block;
    padding:8px;
    width: 100%;
    font: normal normal normal 14px/20px Noto Sans KR;
    color: #231F20;
    box-sizing: border-box;
    background-color: white;
    border-right: 1px solid #C5CCD7;
    border-left: 1px solid #C5CCD7;
    border-bottom: 1px solid #C5CCD7;
}

.ReportMessage{
    margin-top: 32px;
}

.ReportMessage__ContentWrap{
    padding: 16px;
    margin-top: 32px;
    background-color: #FAFAFA;
    border: 1px solid #E8EBEF;
    border-radius: 2px;
}

.ReportMessage__Content{
    box-sizing: border-box;
    background: #FFFFFF;
    width:100%;
    border: 1px solid #C5CCD7;
    border-radius: 2px;
    padding:8px;
    height:200px;
}

.ReportSetting__BoxLabel{
    display: inline-block;
    font: normal normal normal 14px/20px Noto Sans KR;
    letter-spacing: 0px;
    margin-left: 16px;
    color: #231F20;
}

.ReportSetting{
    display: flex;
    justify-content: space-between;
}

.ReportSetting__HandleLabel{
    display: inline-block;
    font: normal normal normal 14px/20px Noto Sans KR;
    letter-spacing: 0px;
    margin-left: 16px;
    color: #231F20;
}

.ReportSetting__Handle{
    margin-left:8px;
}

.ReportSetting__Box{
    display: inline-block;
    padding:8px;
    border: 1px solid #C5CCD7;
    border-radius: 2px;
    font: normal normal normal 12px/17px Noto Sans KR;
    letter-spacing: 0px;
    color: #231F20;
    margin-left: 8px;
    width:80px;
    text-align: center;
}

.ReportSetting__ButtonShowContent{
    font: normal normal normal 12px/15px Noto Sans KR;
    letter-spacing: 0px;
    color: #FFFFFF;
    background: #9162FF;
    border: 1px solid #6C3AE0;
    padding: 8px;
    border-radius: 2px;
    margin-left: 16px;
}

@media(max-width:760px){
    .ReportVoca__ModeButtonWrap{
        margin: 16px;
        margin-bottom: 0;
    }
}