.Report__Title{
    display: block;
    text-align: center;
    font: normal normal normal 20px/29px Noto Sans KR;
    color: #102340;
}

.Report__SubTitle{
    display: block;
    text-align: center;
    font: normal normal bold 12px/15px Noto Sans KR;
    color: #1B3965;
}