.ReportContentButton{
    display: flex;
    margin-top: 16px;
    justify-content: center;
}

.ReportContentButton__Delete{
    width:120px;
    padding:8px;
    margin-right:16px;
    background-color: #FF7062;
    border: 1px solid #EF4F3F;
    border-radius: 2px;
    color: white;
}

.ReportContentButton__Add{
    width:120px;
    padding:8px;
    background-color: #1B3965;
    border: 1px solid #102340;
    border-radius: 2px;
    color: white;
}
