

.ReportMaterial__ContentWrap{
    padding: 16px;
    margin-top: 32px;
    background-color: #FAFAFA;
    border: 1px solid #E8EBEF;
    border-radius: 2px;
}

.ReportMaterial__Table{
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #C5CCD7;
    border-radius: 2px;
    border-collapse: collapse;
    margin-bottom: 16px;
}

#ReportMaterial__TableStyle{
    padding:8px;
    border: 1px solid #C5CCD7;
}

.ReportMaterial__FileName{
    width: 100%;
    font: normal normal normal 16px/24px Noto Sans KR;
    color: #231F20;
}

.ReportMaterial__InputWrap{
    border-left: 1px solid #C5CCD7;
}

.ReportMaterial__Input{
    margin: 0;
}

.ReportMaterial__ContentButton{
    display: flex;
    margin-top: 16px;
    justify-content: center;
}

.ReportMaterial__ButtonDelete{
    width:120px;
    padding:8px;
    margin-right:16px;
    background-color: #FF7062;
    border: 1px solid #EF4F3F;
    border-radius: 2px;
    color: white;
}

#ReportMaterial__File{
    display: none;
}

.ReportMaterial__ButtonAdd{
    display: inline-block;
    width:120px;
    padding:8px;
    margin-right:16px;
    font: 400 13.3333px Arial;
    text-align: center;
    box-sizing: border-box;
    background-color: #1B3965;
    border: 1px solid #102340;
    border-radius: 2px;
    color: white;
}

.ReportMaterial__Temp{
    width:100%;
    display: flex;
    justify-content: center;
    background-color: rgb(230, 230, 230);
    align-items: center;
    border: 1px dashed #C5CCD7;
}

.ReportMaterial__TempSpan{
    font: normal normal normal 14px/20px Noto Sans KR;
    letter-spacing: 0px;
    color: grey;
    padding:8px;
}

.ReportMaterial__Foot{
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
}

.ReportMaterial__InputTimeLabel{
    font: normal normal medium 14px/20px Noto Sans KR;
    color: #231F20;
}

.ReportMaterial__InputTime{
    box-sizing: border-box;
    width:120px;
    padding:8px;
    border: 1px solid #C5CCD7;
    margin-left: 16px;
    text-align: center;
}